# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
myenvPM/
*.egg-info/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Env variables
.env